**/.kitchen
**/imagerc*
**/*.html
**/real_identity/**
**/identities/real/**
**/dummy_work/**
**/test_dojo_work/stc-*
**/test_dojo_work/*Dojofile*
/ops/
dojo/work/bats/
bats-support/
bats-assert/

# do not ignore those
!**/dummy_work/.placeholder
*.png
docker-ops
releaser
Dojofile.to_be_tested
Dojofile.example
